.footer-container {
  display: flex;
  justify-content: flex-end;
  background-color: #42586b;
  padding: 5%;
  align-items: center;

  p {
    font-weight: bold;
    font-size: 20px;
    color: #ece9e9;
  }

  ul {
    display: flex;
    align-self: flex-end;
    text-decoration: none;
    color: #ffffff;

    li {
      padding: 5%;
      list-style-type: none;

      a {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        color: #ece9e9;
      }

      a:hover {
        color: #09c5f1;
      }
    }
  }
}